@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #EACB7D;
}

.banner-div {
  background-image: url("../public/mainbanner.gif");
}

.about-div,.glimpses-div {
  background-image: url("../public/lightbg.jpg");
}

.catering-div {
  background-image: url("../public/greenbg.jpg");
}
