@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BigCalson";
    src: url("/fonts/Big-Calson-Medium.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eacb7d;
}

.about-div,
.glimpses-div {
  background-image: url("../public/lightbg.jpg");
}

.catering-div,
.greenbox {
  background-image: url("../public/greenbg.jpg");
}

.aboutus {
  background-image: url("../public/about.jpg");
}

.catering {
  background-image: url("../public/catering.jpg");
}

/* Specialities */
.dish1:hover::before,
.dish1Mobile::before {
  content: "CHICKEN DUM BIRYANI";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  color: white;
  font-size: 20px;
  font-family: "BigCalson";
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  z-index: 1;
}

.dish2:hover::before,
.dish2Mobile::before {
  content: "BUTTER CHICKEN";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  color: white;
  font-size: 20px;
  font-family: "BigCalson";
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  z-index: 1;
}

.dish3:hover::before,
.dish3Mobile::before {
  content: "LAMB CHOPS";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  color: white;
  font-size: 20px;
  font-family: "BigCalson";
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  z-index: 1;
}

.dish4:hover::before,
.dish4Mobile::before {
  content: "MUSHROOM PEPPER SALT";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  color: white;
  font-size: 20px;
  font-family: "BigCalson";
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  z-index: 1;
}

/* Catering Hover Effects */
.catering-card:hover > .catering-card-info {
  display: flex;
  align-items: stretch;
}

@media only screen and (max-width: 768px) {
  .banner-video {
    height: 70vh;
    /* object-fit: contain; */
  }
}

.dropdown {
  transition: transform 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
}

.has_dropdown:focus-within .dropdown,
.has_dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e8ca7d #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #e8ca7d;
  border-radius: 0px;
  border: 0px solid #000000;
}

.banner-div {
  background-image: url("/campaign.jpg");
}

@media only screen and (max-width: 768px) {
  .banner-div {
    background-image: url("/campaign.jpg");
  }
}
